@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --orange: #EE4540;
    --red: #c72c41;
    --dark-red: #801336;
    --purple: #510a32;
    --dark-purple: #2d142c;
}

html {
    background-color: var(--dark-red);
}

body {
    padding: 0px;
    margin: 0p;
    background-color: white;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    height: 100%;
    margin: auto, auto;
    padding: 0, 0.5rem;
}


.nav-bar {
    background-color: var(--dark-red);
    width: 100vw;
    height: 100%;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid black;

    
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 30px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    margin-right: 20%;
}

a:hover {
    color: hsl(0, 0%, 80%);
    text-decoration-line: underline;
}
a:active {
    color: hsl(0, 0%, 60%);
}

#richyboy {
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    border: 1px;
    border-radius: 50%;
    padding-top: 20px;
}

.rich {
    border-radius: 40%;
}

#intro {
    background-color: white;
    width: 100vw;
    height: 100%;
    top: 0;
    border-bottom: 1px solid black;
}

div .description {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    top: 50px;
    
}

.tools {
    margin-bottom: 1px solid black;
}

#about {
    background-color: white;
    width: 100%;
    height: 1000px;
    border-bottom: 1px solid black;
    font-size: 40px;
}

.about-me {
    font-size: 20px;
    color: #801336;
    display: block;
    justify-content: center;
    width: 900px;
    margin-left: 28%;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: var(--dark-red)
}

.experience {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--dark-red);
    margin-top: 100px;
    margin-bottom: 1px solid black;
}

.filler {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--dark-red);
    padding-left: 150px;
    padding-right: 150px;

}

p{
    cursor: default;
}

p.about {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--dark-red);
    padding: 25px;
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--dark-red);
    font-size: larger;
    cursor: default;
}

.brands {
    display: flex;
    justify-content: center;
    font-size: 80px;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

#html {
    color: orangered;
}

#css {
    color: royalblue;
}

#javascript {
    color: gold;
}

#php{
    color: darkorchid;
}

#react {
    color:rgb(0, 195, 255);
}

#projects {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px; 
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 0%;
    margin-top: 100px;
}

.project-1 {
    background-color: var(--dark-red);
    height: 100%;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgb(128, 128, 128);
}

.project-2 {
    background-color:  var(--dark-red);
    height: 100%;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgb(128, 128, 128);
}

.project-3 {
    background-color:  var(--dark-red);
    height: 100%;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgb(128, 128, 128);
}

.project-4 {
    background-color:  var(--dark-red);
    height: 100%;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgb(128, 128, 128);
}

.project-btn {
    display: flex;
    margin-top: 300px;
    width: 200px;
    height: 60px;
    border-radius: 8%;
    background-color: var(--dark-purple);
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: large;
}

.project-btn:hover {
    background-color: hsl(302, 38%, 23%);
}

.project-btn {
    display: block;
    bottom: 20px;
}

.modal {
    background-color: var(--dark-red);
    z-index: 1;
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.close-modal {
    display: flex;
    justify-content: center;
    margin-top: 460px;
    width: 200px;
    height: 60px;
    border-radius: 8%;
    background-color: var(--dark-purple);
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: large;
    margin-left: 150px;
    padding-top: 15px;
}

#links {
    background-color: white;
    width: 100%;
    height: 100%;
    border-top: 1px solid black ;
    font-size: 40px;
}

div.contacts a {
    padding-top: 20px;
    padding: 30px;
    font-size: 25px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
    margin-left: 42.5%;
    color: black;
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
}

div.contacts a:hover {
    color: hsl(189, 65%, 45%);
    text-decoration-line: underline;
}

.contacts p {
    color: var(--dark-red);
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.go-to-top {
    position: fixed;
    bottom: 30px;
    right: -300px;
    font-size: 50px;
    scroll-behavior:smooth;
    color: var(--dark-gray);
}

footer p{
    background-color: var(--dark-red);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 20px;
    color: var(--dark-gray);
}


@media screen and (max-width: 800px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-1 {
        width: 80%;
        height: 600px;
    }
    .project-2 {
        width: 80%;
        height: 600px;
    }
    .project-3 {
        width: 80%;
        height: 600px;
    }
    .project-4 {
        width: 80%;
        height: 600px;
    }
    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: -40px;
        width: 120%;
    }
    .contact-card {
        display: block;
        justify-content: center;
        align-items: center;
        margin-right: 250px;
    }
    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
}